<!doctype html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/web/thymeleaf/layout”>
</head>
<body>
<div class=“d-flex justify-content-center align-items-center container”>
    <div class=“row col-md-3 mt-5”>
        <form method=“post” th:action=“@{/login}“>
            <h1 class=“h3 mb-3 fw-bold”>Please sign in</h1>
            <div class=“mb-0">
                <input name=“email” type=“email” class=“form-control” id=“email” placeholder=“Email address”>
            </div>
            <div class=“mb-2">
                <input name=“password” type=“password” class=“form-control” id=“password” placeholder=“Passwords”>
            </div>
            <button type=“submit” class=“btn btn-primary form-control”>Sign in</button>
        </form>
    </div>
</div>
</body>
</html>